/*start general style*/

body {
    font-family: 'Cairo', sans-serif, 'Roboto';
}

.white-color {
    color: #FFF;
}

.selver-color {
    color: rgb(239 239 239)
}

.selver-color:hover {
    color: rgb(239 239 239) !important;
}

.Cashmere-color {
    color: #ce4b5e
}

.Cashmere-color:hover {
    color: #ce4b5e
}

.orange-color {
    color: #f48359
}

input[type="text"]:focus,
.form-control:focus,
.btn-search:focus,
select:focus,
.page-link:focus,
.description-text {
    outline: 0;
    box-shadow: 0 1px 2px 0 #88888869;
}

.cars,
.tec,
.btn-addert {
    background-image: linear-gradient(to bottom, #ca4659, #f48359);
}

.mobile,
.aniamls {
    background-image: linear-gradient(to bottom, #ff5a72, #50151e);
}

.build {
    background-image: linear-gradient(to bottom, #ff9168, #733823);
}

.fashon {
    background-image: linear-gradient(to bottom, #00d9f5, #008394);
}

.border-heading::before {
    content: "";
    position: absolute;
    height: 33px;
    width: 4px;
    top: -3px;
    right: 0;
    background: #ff9168;
}

.reset-link {
    color: #2a2a2a
}

.reset-link:hover {
    text-decoration: none;
    color: #323232
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/*end general style*/


/*start header*/

.header {
    height: 500px;
    position: relative;
    background: url('../images/bg.png')center/cover no-repeat;
}

.header .add-advertisement {
    padding: 2.5rem 2rem 0 0;
}

.header .add-advertisement .add-title {
    background: #FFF;
    padding: .4rem 2rem;
    margin-right: .5rem;
    font-size: 15px;
    border-radius: 15px;
    font-weight: 600;
}

.header .add-advertisement .icon-per {
    font-size: 1.8rem;
}

.header .image-Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .image-Logo img {
    max-width: 40%;
}


/*end header*/


/*start section add-advert*/

.add-advert .recentle-heading {
    padding-right: 1rem;
    margin-right: 2rem;
    font-weight: 600;
    font-size: 19px;
}

.details-advert {
    padding: 15px;
    margin: 2rem 0;
    background: #ececec;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px #00000036;
}

.label-heading {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #f48359
}

input[type='text'],
.form-control {
    height: 45px;
    padding: 0 20px;
    font-weight: 600;
    color: #f48359!important;
    border-radius: 50px;
    border: 0;
    box-shadow: 0 1px 2px 0 #88888869;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}

select.minimal {
    background-image: url("../images/caret-down.png");
    background-position: left 14px center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    border: 0;
}

option {
    color: #f48359!important;
}

.add-advert .details-advert .orange-color {
    font-weight: 600;
}

.parent-checkbox {
    width: 80%;
}

.form-group-checkbox {
    display: inline-block;
    margin: 15px;
}

.form-group-checkbox input {
    padding: 5px;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group-checkbox label {
    position: relative;
    cursor: pointer;
    color: #f48359;
}

.form-group-checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: #f7f7f7;
    box-shadow: 0 0px 2px rgb(245 120 80), inset 0px -15px 10px -12px rgb(0 0 0 / 0%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group-checkbox input:checked+label:before {
    background-color: #f48359;
}

.form-group-checkbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form-group .description-text {
    padding: 15px 10px;
    color: #f48359;
    font-size: 15px;
    width: 100%;
    border: 0;
    border-radius: 20px;
}

.btn-addert {
    padding: 7px 75px;
    border-radius: 50px;
    font-size: 16px;
}

.image-oops {
    margin: 30px 0;
    background: url('../images/Group\ 33.png')center top/contain no-repeat;
}


/*end section add-advert*/


/*start searh*/

@media screen and (max-width: 400px) {
    .move-form {
        margin-top: -275px
    }
    .move-form .form-content .space-margin {
        margin: 15px 0
    }
}

@media screen and (min-width:401px) and (max-width:575.98px) {
    .move-form {
        margin-top: -275px
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .move-form {
        margin-top: -225.4px
    }
    .move-form .form-content .space-margin {
        margin: 15px 0
    }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
    .move-form {
        margin-top: -135.2px;
    }
}


/*------------end media search--------------*/


/*end search*/


/*start footer*/

footer {
    background: url(../images/Rectangle\ 12.png);
    background-size: cover;
}

footer p {
    font-size: 15px;
    padding: 0 5px;
    line-height: 2;
}

footer .list-ques li {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

footer .list-ques li:hover {
    background: #f48359;
}

footer .selver-color:hover {
    color: rgb(231, 231, 231);
}

footer h4 {
    line-height: 1.6;
}

footer .available-app p a {
    display: inline-block;
    width: 190px;
    text-align: left;
    background: #FFF;
    padding: .7rem 0 .7rem 1rem;
    border-radius: 30px;
    font-weight: 600;
}


/*------------start media footer-------------*/

@media screen and (max-width: 400px) {
    footer .container p {
        text-align: center;
    }
    footer .container .available-app {
        text-align: center;
    }
}

@media screen and (min-width:401px) and (max-width:575.98px) {
    footer .container p {
        padding: 0 60px;
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:767.98px) {
    footer .container p {
        padding: 0;
        text-align: center;
    }
}


/*------------end media footer-------------*/


/*end footer*/